* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #555;
}

.cal {
  position: absolute;
  width: 50%;
  left: 25%;
  box-sizing: border-box;
  background-color: #222;
  top: 20%;
  bottom: 10%;
  display: grid;
  grid-template-areas:
    "a a a a"
    "b b c d"
    "e f g h"
    "i j l m"
    "n o p q"
    "r r s q";
}

.input {
  grid-area: a;
  border: none;
  background-color: #222;
  text-align: right;
  padding-right: 20px;
  color: white;
  font-family: "Orbitron";
  font-size: x-large;
}
.btn0 {
  grid-area: b;
}

.btn15 {
  grid-area: r;
}
.btn14 {
  grid-area: q;
}
